
.App {
  text-align: center;
}

.App form {
  margin:auto;
  text-align: center;
}

form #submitButton {
  margin-top:5px;
}

.output {
  display:grid;
  grid-template-columns:auto auto auto;
  justify-content:center;
}

.output .cell {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  width:220px;
  height:300px;
  margin:5px;
  box-shadow:1px 1px 1px grey;
}

.output .cell .item_name {
  line-height: 100%;
  padding:8px 0 8px 0;
  font-size:9pt;
  margin-left: 2%;
  text-align: left;
}

.output .cell .item_name:hover {
  text-decoration: underline;
}

.output .cell .image img {
  width:68%;
}

.output .cell .price {
  line-height: 100%;
  font-size: 14pt;
  margin-left: 2%;
  text-align: left;
}

.output .cell .star_rating {
  line-height: 105%;
  margin-left: 2%;
  float: left;
}

.output .cell .reviewsNum {
  line-height: 120%;
  font-family: sans-serif;
  font-size: 8pt;
  float: right;
  margin-bottom: 0px;
  margin-right: 5%;
}

#note {
  padding-top:10px;
  text-align:center;
  font-size:7pt;
  bottom:0;
}

.loadingAnimation {
  display:flex;
  justify-content:center;
  margin-top:30px;
}
